.app-header {
    display: flex;
    flex-direction: row; /* 기본값이 row이므로 생략 가능 */
    justify-content: space-between; /* 하위 요소들 간의 간격 조절 (선택 사항) */
    align-items: center; /* 세로 정렬 (선택 사항) */
    background-color: #00000f;
}

.app-header-logo {
    color: white;
}

.app-header-nav {
    display: flex; /* Flexbox 사용 */
    flex-direction: row; /* 가로로 나열 */
    gap: 10px; /* 메뉴 항목 간의 간격 조절 (선택 사항) */
}

.app-header-nav > .nav-item {
    padding: 10px 15px;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.app-header-nav > .nav-item:hover {
    background-color: #0056b3;
    border-radius: 5px;
}