.ql-container {
    box-sizing: border-box;
    height: 300px; /* 원하는 높이 */
    margin: 0 auto; /* 가운데 정렬 */
    width: 100%; /* 컨테이너의 너비 설정 */
    border: 1px solid #ccc; /* 경계선 설정 */
    border-radius: 4px;
}

.ql-editor {
    box-sizing: border-box;
    min-height: 200px; /* 최소 높이 설정 */
    padding: 10px;
    line-height: 1.5; /* 텍스트 간격 */
    font-size: 16px;
    overflow-y: auto; /* 스크롤 가능하도록 */
}
