.app-draft-content {
    flex: 1;
    background-color: white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.app-draft-content h2 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 5px;
}
.app-draft-content h3 {
    margin-top: 20px;
}
.app-draft-content p {
    line-height: 1.6;
}

.toolbar {
    margin-top: 20px;
    font-size: 14px;
    text-align: right;
}
.toolbar a {
    color: #2980b9;
    margin-left: 10px;
    text-decoration: none;
}
